---
layout: default
seo:
  title: Memberships for Individuals | Dvelop Space
  description: Grow your human skills for a successful life
  social_image:
  keywords: ['marca personal, linkedin, marca personal digital, linkedin tips, hispanic business, hispanic marketing, hispanic woman, marca personal online']
  hide-from-google: true
banner-header_image: /images/dvelop-space6.jpg
meet-video-id: o9uzJ0LgvT0
---
<!------------------------ BANNER & MENU ------------------>

<header class="tall-100 tall-40-md tall-50-sm">

    {% include header-nav.html %}

    <div class="grid-middle relative capped-width-narrow">
        <div class="col-6_sm-12 subject-title sm-padded-t xs-padded-t-lg padded-sm padded-t-lg padded-l-0">
            <h1 class="padded-b big-text">memberships.</h1>
            <p class="justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis exercitationem eaque dolor distinctio itaque quas eos quaerat magni, architecto sequi, molestias eum non quis. Tempore enim maxime vel fuga natus!</p>
            <p class="justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis exercitationem eaque dolor distinctio itaque quas eos quaerat magni, architecto sequi, molestias eum non quis. Tempore enim maxime vel fuga natus!</p>
            <a href="#" class="button">Start today</a>
        </div>
        <div class="col-6_sm-12 padded padded-t-lg padded-b-0 padded-r-2">
            <div class="bg-image portrait" style="background-image: url('{{ page.banner-header_image }}');"></div>
        </div>
    </div>

</header>

<!------------------------ TRUSTED BY ------------------>

<section class="padded">

    <div class="grid">

        <div class="col-12 center padded padded-b-1">

            <h3>Trusted by leaders at</h3>

        </div>

        <div class="col-12 trusted-slider-container center">

            <!-----------------SLIDE 1--------------->
                <div class="slider-item center">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>

        
                <div class="slider-item center">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>
        
                <div class="slider-item center">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>
        
                <div class="slider-item">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>
        
                <div class="slider-item">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>
        
                <div class="slider-item">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>
        
                <div class="slider-item">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>
        
                <div class="slider-item">
                    <img src="/images/dvelop-space1.jpg" class="trusted-img">
                </div>


        </div>

    </div>

</section>

<!------------------------ OUR MEMBERSHIPS ------------------>

<section class="padded-t">

    <div class="grid capped-width-narrow">

        <div class="col-12 grid">

            <div class="col-6_sm-12 padded-sm">
                <div class="border-black bg-radius-sm padded card-individual center">
                    <h3 class="center padded-b-1">Personalised<br> Assesmemt</h3>
                    <ul class="center no-bullet padded-b">
                        <li>&#10003; Personalised results</li>
                        <li>&#10003; Personalised results</li>
                        <li>&#10003; Personalised results</li>
                        <li>&#10003; Personalised results</li>
                    </ul>
                    <a href="#" class="button">Start today</a>
                </div>
            </div>

            <div class="col-6_sm-12 padded-sm">
                <div class="border-black bg-radius-sm padded card-individual center">
                    <h3 class="center padded-b-1">Full<br> Membership</h3>
                    <ul class="center no-bullet padded-b">
                        <li>&#10003; Personalised results</li>
                        <li>&#10003; Personalised results</li>
                        <li>&#10003; Personalised results</li>
                        <li>&#10003; Personalised results</li>
                    </ul>
                    <a href="#" class="button">Start today</a>
                </div>
            </div>

        </div>

    </div>

</section>

<!------------------------ HOW IT WORKS ------------------>

<section class="padded-t-lg">

    <div class="grid bg-grey padded-b">
        
        <div class="col-12 grid">

            <div class="col-12 center padded-sm padded-t-lg padded-b-0">
                <h3 class="big-text">how it works.</h3>
            </div>

            <div class="col-4_sm-12 center padded">

                <img src="/images/dvelop-space7.jpg" class="bg-radius-sm">
                <span>Step 01</span>
                <h4>Select your membership</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit iusto, libero odit tempore hic. Quasi, debitis officia! Earum illo nobis veritatis quo, iusto eveniet sequi doloribus saepe dolorum dolore.</p>

            </div>

            <div class="col-4_sm-12 center padded">

                <img src="/images/dvelop-space7.jpg" class="bg-radius-sm">
                <span>Step 02</span>
                <h4>Get your personalised results</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit iusto, libero odit tempore hic. Quasi, debitis officia! Earum illo nobis veritatis quo, iusto eveniet sequi doloribus saepe dolorum dolore.</p>

            </div>

            <div class="col-4_sm-12 center padded">

                <img src="/images/dvelop-space7.jpg" class="bg-radius-sm">
                <span>Step 03</span>
                <h4>Follow a program</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reprehenderit iusto, libero odit tempore hic. Quasi, debitis officia! Earum illo nobis veritatis quo, iusto eveniet sequi doloribus saepe dolorum dolore.</p>

            </div>

        </div>

    </div>

</section>

<!------------------------ VIDEO DEMO ------------------>

<section class="padded padded-b-0">
    
    <div class="grid padded sm-padded-05 sm-padded-t-xlg">

        <div class="col-6_sm-12">

            <div class="embed-container bg-radius-md">
              <iframe src="https://www.youtube.com/embed/{{page.meet-video-id }}" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <div class="col-6_sm-12 padded-sm">

            <h3>watch our membership working.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tempore, veniam autem quam laboriosam deserunt fuga obcaecati commodi eos. Numquam culpa eveniet quaerat omnis, praesentium repellat fugit? Sit, saepe quaerat.</p>
            <p><strong>Still have questions?</strong></p>
            <a href="#" class="button">contact us</a>
            <p class="margin-t">Or check our <a href="#">frequent ask questions.</a></p>
        </div>

    </div>
    
</section>

<!------------------------ THE FAVOURITES ------------------>

{% include favourite-programs.html %}

<!------------------------ FREQUENT QUESTIONS ------------------>


<section class="padded-t-1 padded-b">

    <div class="grid capped-width">

        <div class="col-5_sm-12 padded">
            <h3 class="semi-big-text">
                Frequently asked questions
            </h3>
        </div>

        <div class="col-7_sm-12 padded">
            <dl class="accordion">

                <dt> Once I paid, when can I start the program?</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus eius asperiores delectus labore sapiente excepturi ipsum eaque, expedita maiores totam quia exercitationem nihil unde et eum quasi distinctio sunt!</dd>

                <dt> Once I paid, when can I start the program?</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus eius asperiores delectus labore sapiente excepturi ipsum eaque, expedita maiores totam quia exercitationem nihil unde et eum quasi distinctio sunt!</dd>

                <dt> Once I paid, when can I start the program?</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus eius asperiores delectus labore sapiente excepturi ipsum eaque, expedita maiores totam quia exercitationem nihil unde et eum quasi distinctio sunt!</dd>

                <dt> Once I paid, when can I start the program?</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus eius asperiores delectus labore sapiente excepturi ipsum eaque, expedita maiores totam quia exercitationem nihil unde et eum quasi distinctio sunt!</dd>

                <dt> Once I paid, when can I start the program?</dt>
                <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus eius asperiores delectus labore sapiente excepturi ipsum eaque, expedita maiores totam quia exercitationem nihil unde et eum quasi distinctio sunt!</dd>
          
              </dl>
        </div>
      
    </div>

  </section>