<!-- Styles  -->
<style> 

    :root {

        --black: {{ site.data.design.palette.black_color }} ;
        --grey: {{ site.data.design.palette.grey_color }} ;
        --white: {{ site.data.design.palette.white_color }} ;
        --yellow: {{ site.data.design.palette.yellow_color }} ;
        --light-yellow: {{ site.data.design.palette.light-yellow_color }} ;
        --blue: {{ site.data.design.palette.blue_color }} ;
        --light-blue: {{ site.data.design.palette.light-blue_color }} ;
        --extra-light-blue: {{ site.data.design.palette.extra-light-blue_color }} ;

        --body-font-family: {{ site.data.design.texto.body-font-family }} ;
        --menu-text: {{ site.data.design.texto.menu-text_color }} ;
        --mobile-menu-text: {{ site.data.design.texto.mobile-menu-text_color }} ;
        --footer-text: {{ site.data.design.texto.footer-text_color }} ;

        --logo-size: {{ site.data.site-settings.general.logo-size }} ;
        --mobile-logo-size: {{ site.data.site-settings.general.mobile-logo-size }} ;
        --explore-logo-size: {{ site.data.site-settings.general.explore-logo-size }} ;
        
    }

</style> 